@import "/css/reset.css";
@import "/css/variables.css";
/*Component*/
@import "/css/components/status-bar.css";
@import "/css/components/screen-header.css";
/*Screens*/
@import "/css/screens/login.css";
@import "/css/screens/friends.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
