.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #f9f9fa;
  border-top: 1px solid #e8e8e8;
}

.nav-bar__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar a {
  position: relative;
}

.nav-bar__chat-alarm {
  bottom: 15px;
  left: 15px;
}
